@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Poppins:wght@300;400;500;600;700;800&display=swap');


@theme {
  --font-righteous: "Righteous", cursive;
  --font-poppins: "Poppins", sans-serif;
}
